@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

.container {
    max-width: 1000px;
    padding: 0 3%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-background-color {
    background-color: #1F2937;
    color: #e5e7eb;
}

header {
    height: 60px;
    position: fixed;
    width: 100%;
}

header .container {
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px
}

a {
    text-decoration: none;
    color: inherit;
}

body section:first-of-type {
    padding-top: 60px;
}

section {
    height: 400px;
}

.hero .container {
    gap: 40px;
}

.hero > .container > * {
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button {
    margin-top: 12px;
    background-color: #3882f6;
    border: 0;
    border-radius: 0.4rem;
    padding: 8px 24px;
    color: white;
    font-size: 15px;
}

.hero-image {
    height: 210px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information .container {
    flex-direction: column;
    justify-content: flex-start;
}

.information .header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 36px 0;
}

.list-cards {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 150px;
}

.card-image {
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 1rem;
}

.card-text {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}

.quote .container {
    flex-direction: column;
    max-width: 800px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-author {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}