@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

.container {
    max-width: 1000px;
    padding: 0 3%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-background-color {
    background-color: #1F2937;
    color: #e5e7eb;
}

